@model IEnumerable<Team1_FinalProject.Models.Ticket>

@{
    ViewData["Title"] = "Summary Screen";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            // movie title
            // show time
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TicketID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TicketID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TicketID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
// add Checkout button that maps to Orders/Create
// make a table from Price; refer to HW5 Orders (remember Ticket is like OrderDetails)
