@model Team1_FinalProject.Models.Price

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Price</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MatineePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MatineePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeekendPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeekendPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeniorDiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeniorDiscount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PriceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
