@model Team1_FinalProject.Models.ViewModels.CheckoutViewModel

@{
    ViewData["Title"] = "Checkout";
}

@* need to show movie title, show time, selected seat, price, subtotal, tax, grand total
    purchase with popcorn points option
    purchase as gift option (insert friend's email)*@

<br />
<h1>Checkout</h1>
<table class="table table-primary">
    <tr>
        <th>Movie Title(s)</th>
        <th>Show Time(s)</th>
        <th>Selected Seat(s)</th>
        <th>Price per Ticket</th>
        <th>Subtotal</th>
        <th>Tax</th>
        <th>Grand Total</th>
    </tr>
</table>
    @*@foreach (_Views_Orders_Checkout o in CheckoutViewModel)
    {
<tr>
    <td>@Html.DisplayFor(ModelItem => o.Movie.Title)</td>
    <td>@Html.DisplayFor(ModelItem => od.ProductPrice)</td>
    <td>@Html.DisplayFor(ModelItem => od.Quantity)</td>
    <td>@Html.DisplayFor(ModelItem => od.ExtendedPrice)</td>
</tr>
}
</table>
    <a asp-action="Edit" asp-route-id="@Model.OrderID">Edit</a> |
    // add button that says confirm to map to Orders/Confirmation
    <a asp-action="Confirmation" asp-controller="Orders">Confirm Order</a>
    <a asp-action="Index">Back to List</a>*@
