@model Team1_FinalProject.Models.Order

@{
    ViewData["Title"] = "Review Your Order";
}

<h1>Review Your Order</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GiftOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GiftOrder)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PopcornPointsUsed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PopcornPointsUsed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Confirmation" asp-controller="Orders">Confirm Order</a> |
    <a asp-action="CancelOrder" asp-controller="Orders">Cancel Order</a> |
    <a asp-action="Index" asp-controller="Home">Return to Home</a>
</div>
