@model Team1_FinalProject.Models.Order

@{
    ViewData["Title"] = "Review";
}

@* need to show movie title, show time, selected seat, price, subtotal, tax, grand total
    purchase with popcorn points option
    purchase as gift option (insert friend's email)*@

<br />
<h1>Review You Order</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Movie Title
            </th>
            <th>
                Starting Time
            </th>
            <th>
                Seat Number
            </th>
            <th>
                Price Per Ticket
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Ticket t in Model.Tickets)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => t.Showing.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(model => t.Showing.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(model => t.SeatNumber)
                </td>
                @*<td>
                        @Html.DisplayFor(model => t.Price.PriceValue)
                    </td>*@
            </tr>
        }
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderSubtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.OrderSubtotal)
            </td>
            <td>
                @Html.DisplayFor(model => model.Tax)
            </td>
            <td>
                @Html.DisplayFor(model => model.OrderTotal)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@Model.OrderID">Edit</a> |
                <a asp-action="Confirmation" asp-controller="Orders">Confrim Order</a> |
                <a asp-action="Index">Back to List</a>
            </td>
        </tr>
    </tbody>
</table>

