@model Team1_FinalProject.Models.AppUser
@{
    ViewData["Title"] = "ManageEmployees";
}

<h1>Generate Report</h1>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    @*
            <tbody>
                @foreach (AppUser a in ViewBag.____)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => o.OrderID)
                        </td>
                        <td>
                            @Html.DisplayFor(model => o.Customer.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => o.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => o.PostDiscount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => o.PopcornPointsUsed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => o.OrderHistory)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    *@
