@model Team1_FinalProject.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tagline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tagline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MPAA)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MPAA)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Actors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Actors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Runtime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Runtime)
        </dd>
    </dl>
</div>
<table class="table table-bordered">
    <tr>
        <th>Showing Date</th>
        <th>Showing Time</th>
        <th>Tickets Available</th>
        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Customer"))
            {
                <th>Purchase Ticket</th>
            }
        }
    </tr>
    @if (Model.Showings.Count() == 0)
    {
        <tr colspan = "4">
            <td>None this week!</td>
        </tr>
    }
    @foreach (Showing s in Model.Showings)
    {
        <tr>
            <td>@(s.StartDateTime.ToString("MM/dd"))</td>
            <td>@(s.StartDateTime.ToString("hh:mm tt"))<span>-</span>@(s.EndDateTime.ToString("hh:mm tt"))</td>
            <td>@Html.DisplayFor(ModelItem => s.TicketCount)/25</td>
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.IsInRole("Customer"))
                {
                    <td><a asp-action="Create" asp-controller="Ticket" asp-route-id="@s.ShowingID" class="btn btn-primary">Purchase Tickets</a></td>
                }
            }
        </tr>
    }
</table>
// add table here with Showings information; Details button to see specific Details for a showing
// allow you to click a Showing via a 'Select Seats' button in Tickets/Create
<div>
    <a asp-action="Edit" asp-route-id="@Model.MovieID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
