@model IEnumerable<Team1_FinalProject.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Manager"))
        {
            <a asp-action="Create">Create New</a>
        }
    }
</p>
<p>Displaying @ViewBag.SelectedMovies out of @ViewBag.AllMovies Movies</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre.GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MPAA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Runtime)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                <b>@Html.DisplayFor(modelItem => item.Title)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MPAA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Runtime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MovieID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MovieID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MovieID">Delete</a>
            </td>
        </tr>
        <tr>
            <td colspan="7" style="white-space: nowrap">
                <b>Showtimes:</b>
                @using (Html.BeginForm())
                {
                    if (item.Showings.Count() == 0)
                    {
                        <span>None this week!</span>
                    }
                    else
                    {
                        @foreach (Showing showing in item.Showings)
                        {
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("Customer"))
                                {
                                    @Html.ActionLink(showing.StartDateTime.ToString("MM/dd hh:mm tt"), "Create", "Tickets", new { showingID = showing.ShowingID }) <span>|| </span> 
                                }
                                @if (User.IsInRole("Employee"))
                                {
                                    @(showing.StartDateTime.ToString("MM/dd hh:mm tt")) <span>|| </span> 
                                }
                            }
                        }
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
