@model IEnumerable<Team1_FinalProject.Models.Showing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>Displaying @ViewBag.SelectedShowings out of @ViewBag.AllShowings Showings</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.MPAA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.AverageRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketCount)
            </th>
            <th>
                Showtimes:
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Movie.MPAA)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Movie.AverageRating)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.TicketCount)
            </th>
            <td>
                <a asp-action="Details" asp-route-id="@item.Movie.MovieID">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
