@model IEnumerable<Team1_FinalProject.Models.Showing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole("Manager"))
        {
            <a asp-action="Create">Create New</a> <span>|</span>
            <a asp-action="AllIndex">All Historical Showings</a>
        }
    }
</p>
<p>Displaying @ViewBag.SelectedShowings out of @ViewBag.AllShowings Showings</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.MPAA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.AverageRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketCount)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <b>@item.StartDateTime.ToString("MM/dd")</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.StartDateTime)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(modelItem => item.EndDateTime)</b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MPAA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.AverageRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketCount)/25
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ShowingID">Showing Details</a> |
                <a asp-action="Details" asp-controller="Movies" asp-route-id="@item.Movie.MovieID">Movie Details</a> |
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("Manager"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ShowingID">Edit</a> <span> | </span>;
                        <a asp-action="Delete" asp-route-id="@item.ShowingID">Delete</a>
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
